<!DOCTYPE html>
<html lang="nl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../styling/style.css">
    <title></title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="../views/barchart1.html">Barchart1</a></li>
          <li><a href="../views/barchart2.html">Barchart2</a></li>
          <li><a href="../views/wordcloud1.html">wordcloud1</a></li>
          <li><a href="../views/wordcloud2.html">wordcloud2</a></li>
          <li><a href="../views/d3force.html">d3-force</a></li>
        </ul>
      </nav>
    </header>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
    <script src="../scripts/barchart2.js"></script>
  </body>
</html>
