<!DOCTYPE html>
<html lang="nl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../styling/style.css">
    <title></title>
  </head>
  <body>
    <!-- <h1>Student's First BarChart</h1>
    <div>
      <strong>Filter:</strong>
      <label><input type="checkbox" name="US" value="1" id="filter-us-only" />Alleen de beste stad</label>
      <label><input type="checkbox" name="NL" value="1" id="filter-nl-only" />Alleen een slechte stad</label>
    </div> -->
    <div class="filterswordcloud">
      <strong>Filter:</strong>
      <label><input type="checkbox" name="f1" class="checkbox" checked/>filter1</label>
      <label><input type="checkbox" name="f2" class="checkbox" checked/>filter2</label>
    </div>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
    <!-- <script src="../scripts/barchart1.js"></script> -->
    <!-- <script src="../scripts/barchart2.js"></script> -->
    <!-- <script src="../scripts/wordcloud1.js"></script> -->
    <script src="../scripts/wordcloud2.js"></script>
  </body>
</html>
