body {
  margin: 25px auto;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  cursor: crosshair; 
}
rect {
  fill: steelblue;
  fill-opacity: 0.8;
}
rect:hover {
  fill-opacity: 1;
}
.axis {
  font-size: smaller;
}

svg {
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 0;
}

.filterswordcloud {
  position: absolute;
  left: 2%;
  bottom: 5%;
  z-index: 100
}
